{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="{% static 'css/login.css' %}" rel='stylesheet' type='text/css'>
    <title>Document</title>
    <style>
        table, th, td {
          border:1px solid black;
          border-spacing: 0px;
        }
      
        
        .table{
              background-color:whitesmoke;
              width: 213px;
              height: 36px;
              margin: 200px auto;
        }
        </style>
</head>
<body>
    <div class="row">
        <div class="col-sm-10 offset-1">
       
            <hr>
    
        
           
            <table class="table" style="width:100%" >
                <thead>
                    <tr>
                        <th colspan="8" style="text-align: center; color:blue; font-size:1cm;" >Book Info</th>
                    </tr>
                    <tr>
                        
                   
                        <th>Book id</th>
                        <th>Book name</th>
                        <th>Student Name</th>
                        <th>student id</th>
                        <th>issue date</th>
                        <th>expairy date</th>
                        <th>fine</th>
                        <th>action</th>
                    </tr>
                </thead>
    
                <tbody>
                    
                    {% for items in Books  %}
                        <tr>
                            <td>{{items.book_id}}</td>
                            <td>{{items.Book}}</td>
                            <td>{{items.stud_name}}</td>
                            <td>{{items.stud_id}}</td>
                            <td>{{items.issue_date}}</td>
                            <td>{{items.expiry_date}}</td>
                            <td>{{items.fine}}</td>
                            <td><a href="" class="btn btn-success" >confirmation</a></td>
                        </tr>
                    
                    {% endfor %}    
                </tbody>
    
            </table>
    
            
    
        </div>
    </div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
